@charset "UTF-8"; 
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); 

body{
	font-family:"Noto Sans TC", sans-serif; 
	background: #fff; 
	margin: 0;
	text-align: center;
	-webkit-text-size-adjust: 100%; 
}

header{
	background:#258CA6; 
	padding-top: 10px;
}
main{
	background:#D5EFF5;
	padding: 30px;     
	font-size: 16px;   
	line-height: 2em; 
	color:#464C4F;    
}
footer{
	background:#258CA6;
	padding: 10px;    
	font-size: 14px;  
	color: #E4EEF7; 
}

h1 {
	font-size: 28px;  
	color: #E4EEF7;   
	font-weight:700;  
}

h2 {
	font-size: 16px;
	color: #E4EEF7;
	font-weight: 300;
}
h3{
	font-size: 14px;
	color: #E4EEF7;   
	font-weight: 100;
}

a{
	color: #EF5095;
}
a:hover{
	color: #048FC1;
	text-decoration: none;
}

.navigation ul {
    background:#929292; 
    margin: 0;        
    padding: 10px;
    text-align: center;
}
.navigation ul li {
    list-style-type: none;
    display: inline;
    margin: 0 8px;
}
.navigation ul li a {
    color: #ffffff;
    text-decoration: none;
}
.navigation ul li a:hover {
    color: #62d5e8;           
    text-decoration: underline; 
}
h1{
	animation-duration: 3s;
	animation-name: slidein;
}
@keyframes slidein{
	from{
	padding-left: 100%;
	width: 300%;
}
to{
	padding-left: 0%;
	width: 100%;
}
}